.card{
    display: flex;
    align-items: center;
    
    gap: 3em;
    max-width: 700px;
   margin: 2em auto;
    background-image: linear-gradient(to left bottom, #e7e7e7, #e2e2e2, #dddddd, #d8d8d8, #d3d3d3);
    padding: 2em;
    img{
        width: 12rem;
    }
}
.info{
    h6{
       
        color: rgb(56, 56, 56);
        font-weight: 300;
        font-size: 0.7rem;
        letter-spacing: 1px;
        color: #2B283A;
        
    }
    h2{
        margin-bottom: 0.5em;
        font-size: 1.8rem;
        color: #2B283A;
      
    }
    h3{
        font-size: 0.7rem;
        line-height: 1.5em;
        font-weight: 700;
        color: #2B283A;
        letter-spacing: 1px;
        
    }
    h5{
        font-weight: 700;
       margin-bottom: 0.45em;
        font-size: 1.05rem;
        color: #2B283A;
    }
    p{
        font-size: 0.7rem;
        line-height: 1.5em;
        font-weight: 400;
        color: #2B283A;
        
    }
 
}

@media screen and (max-width: 45em) {
 
    .card{
        margin: 2em 1em;
flex-direction: column;
img{
    width: 14rem;
}
    }
  }